//colours
$grey: #333333;
$white: white;
$lightBlue: #B5D0E2;
$blue: #2099E8;

// Nav colours
$nav-background: $grey;
$nav-text-colour: $white;

//clock
$clock-text-colour: $white;
$clock-bg-colour: $lightBlue;
$clock-border-colour: $blue;
